@import "tailwindcss" source(".");
@plugin "@tailwindcss/typography";

@theme {
  /* Definisi warna kustom */
  --color-bg: #ffffff;
  --color-accent: #000000;

  /* Reset font ke JetBrains Mono */
  --font-sans: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  html,
  body {
    color-scheme: light;
  }

  /* Styling seleksi teks dengan warna hitam putih */
  ::selection {
    @apply bg-black text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black font-semibold tracking-tight;
  }
}

/* Tiptap Placeholder Styling */
.tiptap p.is-editor-empty:first-child::before {
  color: #9ca3af; /* gray-400 */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.prose pre {
  background-color: #f3f4f6 !important; /* gray-100 */
  border: 1px solid #e5e7eb; /* gray-200 */
  padding: 1.25rem;
  border-radius: 0;
  overflow-x: auto;
  white-space: pre;
  color: #111827; /* gray-900 */
}

.prose code {
  color: #111827; /* gray-900 */
  background-color: #f3f4f6; /* gray-100 */
  padding: 0.125rem 0.25rem;
  font-weight: 500;
  border-radius: 0.125rem;
}

/* Hilangkan backtick otomatis dari Tailwind prose pada inline code */
.prose code::before,
.prose code::after {
  content: "" !important;
}
